<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Ввод данных</title>
        <link href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet" />
    </head>

    <body class="min-vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="text-center fs-3 mb-3">Ввод данных</div>
                    <form action="#" th:action="@{/info}" method="post" class="bg-dark text-white border rounded p-3">
                        <div class="mb-2">
                            <label for="userLastname" class="form-label">Фамилия</label>
                            <input type="text" name="userLastname" id="userLastname" class="form-control" placeholder="Иванов" />
                        </div>
                        <div class="mb-2">
                            <label for="userName" class="form-label">Имя</label>
                            <input type="text" name="userName" id="userName" class="form-control" placeholder="Иван" />
                        </div>
                        <div class="mb-3">
                            <label for="userEmail" class="form-label">Почта</label>
                            <input type="email" name="userEmail" id="userEmail" class="form-control" placeholder="example@mail" />
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
